.container {
    display: flex;
    width: 829px;
    margin: 0 auto;
    justify-content: space-between;
}

.fieldset {
    border: none;
    display: flex;
    width: 630px;
    padding: 0;
    gap: 12px;
}

.circles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 52px;
    justify-content: center;
    column-gap: 16px;
    row-gap: 78px;
}