.container {
    display: flex;
    width: 522px;
    margin: 0 auto;
    gap: 12px;
}

.circles {
    display: flex;
    row-gap: 78px;
    column-gap: 16px;
    margin: 48px 148px 0 148px;
    justify-content: center;
    flex-wrap: wrap;
}